@import url(reset.css);

:root {
  --primary-pink: hsl(322, 100%, 66%);
  --neutral-very-pale-cyan: hsl(193, 100%, 96%);
  --neutral-very-dark-cyan: hsl(192, 100%, 9%);
  --neutral-grayish-blue: hsl(208, 11%, 55%);

  --font-size: 18px;

  --ff-body: "Open Sans", sans-serif;
  --ff-heading: "Poppins", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}
body {
  font-family: var(--ff-body);
}

header {
  background: url(../images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--neutral-very-pale-cyan);
}

nav {
  display: flex;
  justify-content: space-between;
}
nav img {
  height: 1.5rem;
}
a.try-it__link {
  background: #fff;
  padding: 0.7rem 0;
  width: 145px;
  text-align: center;
  text-decoration: none;
  border-radius: 20rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 0.865rem;
  font-weight: var(--fw-700);
  color: var(--neutral-very-dark-cyan);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 5rem 0;
}
.main__container {
  margin: 0 1.5rem;
}

.title {
  color: var(--neutral-very-dark-cyan);
}

.header__content {
  margin: 2rem 0 1rem;
}
.header__button {
  padding: 0.7rem;
  border-radius: 20rem;
  width: 300px;
  border: none;
  cursor: pointer;

  background-color: var(--primary-pink);
  color: var(--neutral-very-pale-cyan);
  font-weight: var(--fw-600);
  border-bottom: 2px solid var(--primary-pink);
}

.header__button:hover {
  background-color: hsl(322, 100%, 75%);
  color: var(--neutral-very-pale-cyan);
}

/* card */
.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  margin: 5rem auto;
  max-width: 1200px;

  /* layout */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

/* .card-img {
  height: 24rem;
} */

/* footer */
footer {
  background-color: var(--neutral-very-dark-cyan);
  margin-top: 500px;
}
.footer-container {
  margin: 0 1.5rem;
}
.footer-card {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  margin: auto;
  max-width: 1020px;
  padding: 2.5rem;
  text-align: center;

  transform: translateY(-70%);
}

.footer__button {
  border: none;
  background-color: var(--primary-pink);
  border-bottom: 2px solid var(--primary-pink);
  border-radius: 20rem;
  color: var(--neutral-very-pale-cyan);
  cursor: pointer;
  font-weight: var(--fw-600);
  margin: 1.5rem 0;
  padding: 1rem;
}

.footer__button:hover {
  background-color: hsl(322, 100%, 75%);
  color: var(--neutral-very-pale-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 48rem) {
  header {
    padding: 3rem 5rem;
  }
  .header-title {
    font-size: 2.5rem;
    width: 500px;
  }

  /* card */
  .card {
    padding: 3rem 1rem 3rem 5rem;
  }

  /* footer */
  .footer-card__title {
    font-size: 1.8rem;
  }

  .footer__button {
    border: none;
    background-color: var(--primary-pink);
    border-bottom: 2px solid var(--primary-pink);
    border-radius: 20rem;
    color: var(--neutral-very-pale-cyan);
    cursor: pointer;
    font-weight: var(--fw-600);
    margin: 1.5rem 0;
    padding: 1rem;
    width: 350px;
  }
}

@media only screen and (max-width: 48rem) {
  /* card */
  .container,
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
