@import url(reset.css);

:root {
  --primary-pink: hsl(322, 100%, 66%);
  --neutral-very-pale-cyan: hsl(193, 100%, 96%);
  --neutral-very-dark-cyan: hsl(192, 100%, 9%);
  --neutral-grayish-blue: hsl(208, 11%, 55%);

  --font-size: 18px;

  --ff-body: "Open Sans", sans-serif;
  --ff-heading: "Poppins", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}
*,
*::before,
*::after {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: var(--ff-body);
}

header {
  background: url(../images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--neutral-very-pale-cyan);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  height: 1.5rem;
}
a.try-it__link {
  background: #fff;
  padding: 0.7rem 0;
  width: 145px;
  text-align: center;
  text-decoration: none;
  border-radius: 20rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 0.865rem;
  font-weight: var(--fw-700);
  color: var(--neutral-very-dark-cyan);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 5rem 1.5rem;
}
.main__container {
  margin: 0 1.5rem;
}

.title {
  color: var(--neutral-very-dark-cyan);
}

.header__content {
  margin: 2rem 0 1rem;
}
.header__button {
  padding: 0.7rem;
  border-radius: 20rem;
  width: 300px;
  border: none;
  cursor: pointer;

  background-color: var(--primary-pink);
  color: var(--neutral-very-pale-cyan);
  font-weight: var(--fw-600);
  border-bottom: 2px solid var(--primary-pink);
}

.header__button:hover {
  background-color: hsl(322, 100%, 75%);
  color: var(--neutral-very-pale-cyan);
}

/* card */
.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  margin: 5rem auto;
  max-width: 1200px;

  /* layout */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

/* .card-img {
  height: 24rem;
} */

/* footer */
footer {
  background-color: var(--neutral-very-dark-cyan);
  color: var(--neutral-very-pale-cyan);
  margin-top: 300px;
}

footer a {
  color: var(--neutral-very-pale-cyan);
}

.footer-container {
  margin: 0 1.5rem;
}
.footer-card {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  margin: auto;
  max-width: 900px;
  padding: 2.5rem;
  text-align: center;

  transform: translateY(-70%);
}
.card-content p {
  margin: 2rem 0;
  color: var(--neutral-grayish-blue);
}

.footer__button {
  border: none;
  background-color: var(--primary-pink);
  border-bottom: 2px solid var(--primary-pink);
  border-radius: 20rem;
  color: var(--neutral-very-pale-cyan);
  cursor: pointer;
  font-weight: var(--fw-600);
  margin: 1.5rem 0;
  padding: 1rem;
}

.footer__button:hover {
  background-color: hsl(322, 100%, 75%);
  color: var(--neutral-very-pale-cyan);
}

.footer_logo img {
  filter: brightness(0) invert(1);
  margin: -5rem 0 2rem;
}

.footer__contact {
  margin: 1rem 0 1rem -2.5rem;
}

.footer-location {
  display: flex;
}
.footer-location::before {
  content: url(../images/icon-location.svg);
  margin-right: 1rem;
}
.footer-phone::before {
  content: url(../images/icon-phone.svg);
  margin-right: 1rem;
}
.footer-email::before {
  content: url(../images/icon-email.svg);
  margin-right: 1rem;
}

.footer__social-media {
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0;
}

.footer__social-media .fa-brands {
  border: 2px solid var(--neutral-very-pale-cyan);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.footer__social-media .fa-brands:hover {
  border: 2px solid var(--primary-pink);
  color: var(--primary-pink);
}

.copy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 0;
}

.attribution {
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 48rem) {
  header {
    padding: 3rem 5rem;
  }
  .header-title {
    font-size: 2.5rem;
    width: 500px;
  }

  /* card */
  .card {
    padding: 3rem 1rem 3rem 5rem;
  }

  /* footer */

  .footer-card__title {
    font-size: 1.8rem;
  }

  .footer__button {
    border: none;
    background-color: var(--primary-pink);
    border-bottom: 2px solid var(--primary-pink);
    border-radius: 20rem;
    color: var(--neutral-very-pale-cyan);
    cursor: pointer;
    font-weight: var(--fw-600);
    margin: 1.5rem 0;
    padding: 1rem;
    width: 350px;
  }

  .footer__link {
    margin: 0 5rem;
  }

  .footer__link-content {
    /* layout */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .footer-card-two {
    display: flex;
  }
}

@media only screen and (max-width: 48rem) {
  nav {
    padding: 2rem 2rem 0;
  }

  nav img {
    height: 1rem;
  }
  a.try-it__link {
    width: 100px;
    font-size: 0.625rem;
  }
  /* card */
  .container,
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header-title {
    font-size: 1.6rem;
  }
  .header__button {
    margin: 0 0 1.5rem;
  }

  .card {
    padding: 3rem;
    text-align: center;
  }
  .card-content p {
    font-size: 0.975rem;
  }

  .footer-card-two li {
    margin-left: -2.5rem;
  }

  .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.925rem;
  }

  .card__title {
    font-size: 1.2rem;
  }
  .flowing {
    margin-top: 1.5rem;
  }
}
