@import url(reset.css);

:root {
  --primary-pink: hsl(322, 100%, 66%);
  --neutral-very-pale-cyan: hsl(193, 100%, 96%);
  --neutral-very-dark-cyan: hsl(192, 100%, 9%);
  --neutral-grayish-blue: hsl(208, 11%, 55%);

  --font-size: 18px;

  --ff-body: "Open Sans", sans-serif;
  --ff-heading: "Poppins", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
